.private_side_bar {
  position: fixed;
  width: 25vw;
  min-width: 158px;
  height: 90vh;
  top: 10vh;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: #fafafa;
}

.user_name {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 2vh;
  display: flex;
}

.user_info {
  margin-left: -30px;
  padding-top: 0;
  margin-bottom: 20px;
  background-image: none;
}

.privatetext {
  display: flex;
  align-items: center;
  margin-top: 24px;
  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #666;
  font-size: 1.5vw;
  line-height: 5vh;
}

.change_avatar {
  padding-top: 6px;
  font-family: Poppins;
  color: #999;
  font-size: 10px;
}

.edit_info {
  font-family: Poppins;
  background-color: #fafafa;
  border-radius: 5px;
  font-size: 16px;
}
