.profile_side_bar {
  position: fixed;
  width: 25vw;
  height: 90vh;
  top: 10vh;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fafafa;
}

.profile_side_bar > img {
  width: 23vw;
}

.other_user_info {
  margin-left: 1vw;
  padding-top: 0;
  margin-bottom: 5vh;
  background-image: none;
  width: 25vw;
  overflow-wrap: break-word;
}

.profiletext {
  display: flex;
  align-items: center;
  margin-top: 5vh;
  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #666;
  font-size: 1.5vw;
  line-height: 2vh;
}
