.box {
display: inline-block;
position: relative;
border: transparent;
height: 28px;

}



.drop_down{
display: inline-block;
position: absolute;
left: 9px;
top: 48px;
height:40px;
width: 3.3vw;
padding-top: 11px;
padding-left: 12px;
font-size: 18px;
font-weight: bold;
color:#767a78;
border-right: 1px solid  rgba(0, 0, 0, 0.51);
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;

}


#search {
position: absolute;
width: 40px;
height: 40px;

}

.search_bar {
margin-left: -10px;
margin-top: 40px;
display: inline-block;

}



.search_bar input {
width: 12vw;
height: 5vh;
border: 1px solid rgba(0, 0, 0, 0.51);
border-radius: 8px;
padding-left: 85px;
margin-top: 8px;
margin-left: 20px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
outline: none;
color: #2a2f2c;

}